<div class="community-form-header">
    <app-form-steps [steps]="[
    { step: 1, route: '/firstStepEventCreation' },
    { step: 2, route: '/secondStepEventCreation' }
  ]" [currentStep]="1" class="form-steps-circles-container"></app-form-steps>
    <div class="community-form-title-container text-center">
        <h1 class="community-form-title">Event creation</h1>
        <h2 class="community-form-subtitle">Fill the basic information!</h2>
    </div>
</div>
<form class="community-form">
    <div class="community-form-inputs d-flex flex-column gap-5 flex-grow-1">
        <div class="input-container d-flex flex-column">
            <label for="event-name-input">Event name *</label>
            <input (keydown.enter)="setFocus($event, eventDateInput)" [(ngModel)]="eventName" name="event-name" id="event-name-input" placeholder="Choose a cool name for the event!" required>
        </div>
        <div class="input-container flex-column">
            <label class="multiple-input-label d-flex flex-column">
                Event time *
                <div class="multiple-input-container d-flex flex-grow-1 gap-2">
                    <input (keydown.enter)="setFocus($event, eventTimeInput)" [(ngModel)]="eventDate" #eventDateInput name="event-date" id="event-date-input" type="date" placeholder="dd/mm/yyyy" required class="flex-grow-1">
                    <input (keydown.enter)="setFocus($event, eventLocationInput)"[(ngModel)]="eventTime" #eventTimeInput name="event-time" id="event-time-input" type="time" placeholder="00:00" required class="flex-grow-1">
                </div>
            </label>
        </div>
        <div class="input-container d-flex flex-column" id="interests-input-container">
            <label for="event-location-input">Event Location *</label>
            <input (keydown.enter)="nextPage()" [(ngModel)]="eventLocation" #eventLocationInput name="event-location" id="event-location-input" placeholder="Where will the event be?">
        </div>
    </div>
    <div class="community-form-footer d-flex justify-content-center">
        <button class="form-button cancel-button">CANCEL</button>
        <button (click)="nextPage()" class="form-button normal-button">NEXT</button>
    </div>
</form>
