<div class="community-form-header">
    <app-form-steps (saveDataEmitter)="changeFormStep($event)" [steps]="[
    { step: 1, route: '/firstStepCommunityCreation' },
    { step: 2, route: '/secondStepCommunityCreation' },
    { step: 3, route: '/thirdStepCommunityCreation' }
  ]" [currentStep]="3" class="form-steps-circles-container"></app-form-steps>
  <div class="community-form-title-container text-center">
    <h1 class="community-form-title" i18n="Título creación comunidad|Encabezado del primer paso">Community creation</h1>
    <h2 class="community-form-subtitle" i18n="Subtítulo apariencia comunidad|Instrucción subida imagen">Define your community appearance!</h2>
  </div>
</div>
<form class="community-form">
  <div class="community-form-inputs d-flex align-content-center justify-content-center flex-grow-1">
    <div class="input-container drop-zone" (dragover)="onDragOver($event)" (drop)="onDrop($event)">
      <p *ngIf="!uploadedImage" i18n="Texto zona arrastre imagen|Indicación para subir imagen">Upload your image!</p>
      <div *ngIf="uploadedImage" class="image-preview">
        <img [src]="uploadedImage" alt="Loaded Image">
      </div>
    </div>
  </div>
  <div class="community-form-footer d-flex justify-content-center">
    <button (click)="previousPage()" class="form-button normal-empty-button" i18n="Texto botón anterior paso 3|Volver al paso 2">PREVIOUS</button>
    <button (click)="nextPage($event)" class="form-button normal-button" i18n="Texto botón crear comunidad|Finalizar creación">CREATE</button>
  </div>
</form>
