<main class="main">
    <div class="d-flex flex-column central-card overflow-hidden w-75 h-100">
      <div class="utils-container p-3">
        <!-- Buscador -->
        <form class="d-flex justify-content-center my-3" role="search">
          <div class="input-group w-50">
            <input
              type="text"
              class="form-control rounded-start-pill"
              placeholder="Buscar..."
              aria-label="Buscar"
            />
            <button class="btn btn-light rounded-end-pill" type="submit">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </form>
  
        <!-- Info y botón crear -->
        <div class="d-flex justify-content-between align-items-center mb-4">
          <p class="mb-0">
            <strong>{{ communities.length }}</strong> communities were found!
          </p>
          <button class="button" (click)="showCommunityForm()">
            <i class="bi bi-plus-circle"></i> Create Community
          </button>
        </div>
      </div>
  
      <!-- Lista de comunidades -->
      <section class="d-flex community-cards-section flex-column overflow-auto p-3 flex-grow-1">
        @for (community of communities; track community.id) {
          <app-community-card
            [community]="community"
            [isUserJoined]="userCommunitiesIDs.includes(community.id)"
            (joinCommunityEmitter)="joinCommunity($event)"
            (leaveCommunityEmitter)="leaveCommunity($event)"
          ></app-community-card>
        }
      </section>
    </div>
  </main>
  