<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

<br><br><br>
<main>
    <div class="container col-md-8">

            <form class="d-flex justify-content-center my-3" role="search">
              <div class="input-group w-50">
                <input type="text" class="form-control rounded-start-pill" placeholder="Buscar..." aria-label="Buscar">
                <button class="btn btn-light rounded-end-pill" type="submit">
                    <i class="fas fa-search"></i>
                </button>
              </div>
            </form>
            <hr>

  
            <div class="d-flex justify-content-between align-items-center mb-4">
              <p class="mb-0"><strong>{{ commnunities.length }}</strong> communities were found!</p>
              <a class="btn btn-light" href="firstStepCommunityCreation">
                <i class="fas fa-plus"></i> Create Community</a>
            </div>
            
            @for (community of commnunities; track community.id) {
              <app-community-card
                [name]="community.name"
                [description]="community.description"
              ></app-community-card>
            }
    </div>
  </main>
  