<div class="community-form-header">
    <app-form-steps [steps]="[
    { step: 1, route: '/firstStepCommunityCreation' },
    { step: 2, route: '/secondStepCommunityCreation' },
    { step: 3, route: '/thirdStepCommunityCreation' }
  ]" [currentStep]="3" class="form-steps-circles-container"></app-form-steps>
  <div class="community-form-title-container text-center">
    <h1 class="community-form-title">Community creation</h1>
    <h2 class="community-form-subtitle">Define your community appearance!</h2>
  </div>
</div>
<form class="community-form">
  <div class="community-form-inputs d-flex align-content-center justify-content-center flex-grow-1">
    <div class="input-container drop-zone" (dragover)="onDragOver($event)" (drop)="onDrop($event)">
      <p *ngIf="!uploadedImage">Upload your image!</p>
      <div *ngIf="uploadedImage" class="image-preview">
        <img [src]="uploadedImage" alt="Loaded Image">
      </div>
    </div>
  </div>
  <div class="community-form-footer d-flex justify-content-center">
    <button (click)="previousPage()" class="form-button normal-empty-button">PREVIOUS</button>
    <button (click)="nextPage()" class="form-button normal-button">CREATE</button>
  </div>
</form>
