<article (click)="addToRemoveList()" [ngClass]="getClass()" class="message removing w-100 d-flex flex-column p-2 gap-2">
    <div class="message-container d-flex w-50 align-items-center p-2">
        @if (message.deleted_at) {
            <em>Message has been removed...</em>
        } @else {
            <div [innerHTML]="deserialize(message.body)"></div>
        }
    </div>
    <div class="message-card-footer d-flex align-items-center gap-2">
        @if (!message.deleted_at) {
            @if (own) {
                @if (!isRemoving) {
                    <i (click)="removeMessage()" class="bi-trash mt-auto trash-icon"></i>
                }
                <i [ngClass]="message.read_at ? 'bi-check2-all' : 'bi-check2'"></i>
            }
        }
        <span class="fw-light">{{ deserializeDate(message.created_at) }}</span>
    </div>
</article>
