<div class="community-form-header">
    <app-form-steps (saveDataEmitter)="saveFormData()" [steps]="[
    { step: 1, route: '/firstStepCommunityCreation' },
    { step: 2, route: '/secondStepCommunityCreation' },
    { step: 3, route: '/thirdStepCommunityCreation' }
  ]" [currentStep]="1" class="form-steps-circles-container"></app-form-steps>
    <div class="community-form-title-container text-center">
        <h1 class="community-form-title">Community creation</h1>
        <h2 class="community-form-subtitle">Define your community personality!</h2>
    </div>
</div>
<form class="community-form">
    <div class="community-form-inputs flex-grow-1">
        <div class="input-container d-flex flex-column">
            <label for="community-name-input">Community name *</label>
            <input (keydown.enter)="moveFocus($event, tagNameInput)" [(ngModel)]="name" name="community-name-input" id="community-name-input" placeholder="Give your community a cool name" required>
        </div>
        <div class="input-container d-flex flex-column" id="interests-input-container">
            <label for="community-interests-input">Community interests</label>
            <input [(ngModel)]="newTag" #tagNameInput (focus)="getCoincidences($event, tagNameInput.value)" (input)="getCoincidences($event, tagNameInput.value)" (keydown.enter)="addInterestTag($event, tagNameInput.value)" name="community-interests-input" id="community-interests-input" placeholder="Add your interests!">
            @if (interestsCoincidences.length) {
                <div id="interests-suggestions">
                    @for (interest of interestsCoincidences; track $index) {
                        <div class="interest-suggestion-item" (click)="addInterestTagFromCoincidence($event, interest)"> {{interest}} </div>
                    }
                </div>
            }
            <div id="interests-container" class="pt-5">
                <section id="interests-section" class="d-flex h-100 overflow-scroll p-2 gap-2 flex-wrap">
                    @for (interest of interests; track $index) {
                        <app-interest-tag [interestName]="interest" (removeInterestEmitter)="removeInterest($event)"></app-interest-tag>
                    }
                </section>
            </div>
        </div>
    </div>
    <div class="community-form-footer d-flex justify-content-center">
        <button class="form-button cancel-button">CANCEL</button>
        <button (click)="nextPage($event)" class="form-button normal-button">NEXT</button>
    </div>
</form>
