.community-form {
  position: relative;
  padding: 1rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  flex: 1;
}

.community-form input {
  background: #ececec;
  border-radius: 5px;
  border: 2px solid #2E3E7F;
  padding: 0.5rem;
  outline: none;
  transition: box-shadow 0.3s ease, background 0.3s ease;
  z-index: 1000;
}

.community-form input:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.community-form input:focus {
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5);
  background: white;
}

#interests-input-container {
  position: relative;
}

#interests-container {
  position: absolute;
  width: 100%;
  top: 36%;
  border: 2px solid #2E3E7F;
  border-radius: 5px;
  height: 12rem;
}

.community-form-header {
  height: 30%;
  padding: 0 2rem;
}

.community-form-title-container {
  margin-top: 1rem;
}

.community-form-footer {
  display: flex;
  gap: 0.5rem;
  padding-bottom: 2rem;
}

.community-form-container {
  display: flex;
  flex: 1;
}

.form-button {
  border-radius: 5px;
  padding: 0.5rem 1.7rem;
}

.normal-button {
  background: #2E3E7F;
  border: 2px solid #2E3E7F;
  color: white;
}

.cancel-button {
  background: white;
  border: 2px solid red;
  color: black;
}
