.button-child {
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    background-color: #2e3e7f;
    width: 138px;
    height: 44px;
}
.publish {
    position: absolute;
    top: 12px;
    left: 35px;
    letter-spacing: 0.1px;
    line-height: 20px;
}
.button {
    position: absolute;
    top: 626px;
    left: 534px;
    width: 138px;
    height: 44px;
    font-size: 16px;
    color: #fff;
}
.button-item {
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    background-color: #fff;
    border: 3px solid #ff0004;
    box-sizing: border-box;
    width: 138px;
    height: 44px;
}
.cancel {
    position: absolute;
    top: 12px;
    left: 37px;
    letter-spacing: 0.1px;
    line-height: 20px;
}
.button1 {
    position: absolute;
    top: 626px;
    left: 378px;
    width: 138px;
    height: 44px;
    font-size: 16px;
}
.attach-logo-icon {
    position: absolute;
    top: 0px;
    left: calc(50% + 86px);
    border-radius: 10px;
    width: 75px;
    height: 75px;
    overflow: hidden;
    object-fit: contain;
}
.attach-files {
    position: absolute;
    top: 28px;
    left: 0px;
    letter-spacing: 0.1px;
    line-height: 20px;
}
.attach {
    position: absolute;
    top: 479px;
    left: calc(50% - 400px);
    width: 322px;
    height: 75px;
}
.interests-field {
    position: absolute;
    top: 34px;
    left: 0px;
    border-radius: 15px;
    background-color: #d9d9d9;
    width: 800px;
    height: 50px;
}
.tag-child {
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    background-color: #2e3e7f;
    width: 81.9px;
    height: 29px;
}
.tag1 {
    position: absolute;
    top: 5.12px;
    left: 0px;
    letter-spacing: 0.1px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56.3px;
    height: 18.8px;
}
.x-icon {
    position: absolute;
    top: 6.82px;
    left: 58px;
    width: 17.1px;
    height: 17.1px;
    overflow: hidden;
}
.tag {
    position: absolute;
    top: 45px;
    left: 13px;
    width: 81.9px;
    height: 29px;
}
.tag-item {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 5px;
    width: 114.3px;
    height: 29px;
}
.othertag {
    position: absolute;
    top: 5.12px;
    left: 3.41px;
    letter-spacing: 0.1px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85.3px;
    height: 18.8px;
}
.x-icon1 {
    position: absolute;
    top: 6.82px;
    left: 90.41px;
    width: 17.1px;
    height: 17.1px;
    overflow: hidden;
}
.tag2 {
    position: absolute;
    top: 45px;
    left: 364px;
    width: 114.3px;
    height: 29px;
}
.tag-inner {
    position: absolute;
    top: 3.2px;
    left: 0px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    background-color: #2e3e7f;
    width: 252.8px;
    height: 27.2px;
}
.veryveryveryveryverylongtag {
    position: absolute;
    top: 0px;
    left: 4.8px;
    letter-spacing: 0.1px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220.8px;
    height: 32px;
}
.x-icon2 {
    position: absolute;
    top: 9.6px;
    left: 230.4px;
    width: 16px;
    height: 16px;
    overflow: hidden;
}
.tag3 {
    position: absolute;
    top: 43px;
    left: 103px;
    width: 252.8px;
    height: 32px;
}
.interests-text {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 24px;
    letter-spacing: 0.1px;
    line-height: 20px;
    color: #000;
}
.interests {
    position: absolute;
    top: 370px;
    left: 125px;
    width: 800px;
    height: 84px;
    font-size: 10px;
    color: #fff;
}
.description-field {
    position: absolute;
    top: 27.61px;
    left: 0px;
    border-radius: 15px;
    background-color: #d9d9d9;
    width: 800px;
    height: 162.4px;
}
.description-text {
    position: absolute;
    top: 0px;
    left: 0px;
    letter-spacing: 0.1px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 143px;
    height: 16.2px;
}
.description {
    position: absolute;
    top: 159px;
    left: 125px;
    width: 800px;
    height: 190px;
}
.title-text {
    position: absolute;
    top: 0px;
    left: 0px;
    letter-spacing: 0.1px;
    line-height: 20px;
}
.title {
    position: absolute;
    top: 54px;
    left: 125px;
    width: 800px;
    height: 84px;
}
.form-card-child {
    position: absolute;
    top: 419px;
    left: 892px;
    width: 20px;
    height: 20px;
    object-fit: contain;
}
.form-card {
    position: absolute;
    top: 69px;
    left: 204px;
    box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    background-color: #fff;
    width: 1050px;
    height: 720px;
    overflow: hidden;
}
.content {
    position: absolute;
    top: 125px;
    left: 0px;
    background: linear-gradient(180deg, #2e3e7f, #465ec2);
    width: 1440px;
    height: 899px;
    overflow: hidden;
}
.header-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background-color: #919fd4;
}
.logotipolinkcom-icon {
    position: absolute;
    height: 71.2%;
    width: 6.18%;
    top: 14.4%;
    right: 92.43%;
    bottom: 14.4%;
    left: 1.39%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.texto {
    position: absolute;
    height: 24%;
    width: 6.94%;
    top: 38.4%;
    left: 13.06%;
    display: inline-block;
}
.texto1 {
    position: absolute;
    height: 24%;
    width: 6.94%;
    top: 38.4%;
    left: 20%;
    display: inline-block;
}
.texto2 {
    position: absolute;
    height: 24%;
    width: 6.94%;
    top: 38.4%;
    left: 26.94%;
    display: inline-block;
}
.texto3 {
    position: absolute;
    height: 24%;
    width: 6.94%;
    top: 38.4%;
    left: 33.89%;
    display: inline-block;
}
.botn-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 30px;
    background-color: #2e3e7f;
}
.label {
    position: absolute;
    height: 40%;
    width: 67.5%;
    top: 30%;
    left: 16.67%;
    letter-spacing: 0.1px;
    line-height: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}
.botn {
    position: absolute;
    height: 32%;
    width: 8.33%;
    top: 34.4%;
    right: 3.82%;
    bottom: 33.6%;
    left: 87.85%;
    text-align: center;
    font-size: 14px;
    color: #dde1f0;
    font-family: Roboto;
}
.header {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1440px;
    height: 125px;
    text-align: left;
    font-family: Inter;
}
.mu-07-publicacin-de-anuncio {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 1024px;
    overflow: hidden;
    text-align: center;
    font-size: 24px;
    color: #000;
    font-family: Lato;
}

