<form action="submit" method="post">
    <p>Title:</p>
    <input type="text" name="title" id="announcement-title" placeholder="Input a title">
    <p>Description</p>
    <input type="text" name="description" id="announcement-description" placeholder="Add the information & content of this announcement">
    <p>Interests</p>
    <input type="text" name="interests-input" id="announcement-interests-input" list="interests">
    <datalist id="interests">
        
        <option value="#Tag1"></option>
        <option value="#MolaSerFriki"></option>
        <option value="#Deportes"></option>
    </datalist>
    <p></p>
    <input type="image" src="" alt="">
</form>