<div class="calendar-container">
  <div class="navigation">
    <button (click)="prevMonth()">&#8592; Anterior</button>
    <button (click)="nextMonth()">Siguiente &#8594;</button>
  </div>

  <div class="calendars">
    <!-- Iterar sobre cada mes a mostrar -->
     @for (calendar of this.calendarMonths; track calendar){
      <div class="calendar-month">
        <h4>{{ calendar.year }} - {{ calendar.month + 1 }}</h4>
        <table class="table table-bordered text-center">
          <thead class="table-light">
            <tr>
              @for (dayName of this.dayNames; track dayName){
                <th>
                  {{dayName}}
                </th>
              }
            </tr>
          </thead>
          <tbody>
            @for (week of calendar.weeks; track week)
            {
              <tr>
              @for (day of week; track day)
              {
                <td>
                  <span [ng Class]="{'today': day === today && calendar.month === currentDate.getMonth()}">
                    {{ day ? day : '' }}
                  </span>
                </td>
              }
              </tr>
            }
          </tbody>
        </table>
      </div>
     }

  </div>
</div>