.calendar-container {
  padding: 20px;
  width: 80%;
  height: 100%;
  background-color: white;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.calendar-space {
  display: flex;
  flex:1;
  flex-direction: column;
}

.td-calendar
{
  min-height: 30%;
}

.navigation {
  text-align: center;
  margin-bottom: 20px;
}

.calendar-month {
  border: 1px solid #ccc;
  padding: 10px;
}

.today {
  font-weight: bold;
  color: red;
}

.small-text {
  font-size: 10px;
}