<main>
  <div class="calendar-container mt-5">
    <div class="calendar-space">
      <div class="navigation">
        <button (click)="prevMonth()" class="btn btn-primary">
          <i class="bi bi-arrow-left"></i>
        </button>
        <span class="mx-3 h4">{{ calendarMonth.monthName }} - {{ calendarMonth.year }}</span>
        <button (click)="nextMonth()" class="btn btn-primary">
          <i class="bi bi-arrow-right"></i>
        </button>
      </div>

      <div class="calendar-month">
        <table class="table table-bordered text-center">
          <thead class="table-light">
            <tr>
              @for (dayName of dayNames; track dayName)
              {
                <th >
                  {{dayName}}
                </th>
              }
              
            </tr>
          </thead>
          <tbody>
            @for (week of calendarMonth.weeks; track week)
            {
              <tr>
                @for (day of week; track day)
                {
                  <td class="td-calendar">
                      <div class="calendar-day" [ngClass]="{
                        today:
                          day === today &&
                          calendarMonth.month === currentMonth &&
                          calendarMonth.year === currentYear
                      }"
                      (click)="navigateToEvent(day)">
                      <span>{{ day ? day : '' }}</span>
                      @if (day && calendarEvents[day])
                      {
                        <div class="event-dots">
                          @for (event of calendarEvents[day]; track  $index) 
                          {
                            
                              <span class="event-dot" [title]="event.title"  data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="selectedEvent= event">
                                
                            </span>
                          
                          }
                        </div>
                      }
                      </div>
                  </td>
                }
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class=" modal-title fs-5" id="exampleModalLabel">{{selectedEvent?.title}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img [src]="selectedEvent?.imagePath">
        <h5>Date</h5>
        <div class="row">
          <div class="col">
            Hora:
            <br>
          {{selectedEvent?.date | date:'HH:mm' : 'Atlantic/Canary'}}
        </div>
        <div class="col">
          Fecha:
          <br>
          {{ selectedEvent?.date | date:'dd/MM/yy':'es-ES' }}
      </div>
        </div>
         
        <h5>
          Description
        </h5>
         <p [innerHTML]="selectedEvent?.description"> </p>
         <div class="row">
          <div class="col">
         <h6>Comunity:</h6>
         <p [innerHTML]="getCommunityName(selectedEvent?.communityID)"></p>
          </div>
          <div class="col">
            <h6>Interés</h6>
            <p [innerHTML]="getCommunityInterests(selectedEvent?.communityID)"></p>
          </div>
         </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

</main>

