<main class="main d-flex flex-column">
    <div class="members-list h-100 bg-warning w-25 position-absolute"></div>
    <div class="community-content d-flex flex-column align-items-center">
        <div id="community-image-container"
             class="d-flex align-items-center justify-content-center overflow-hidden w-100 bg-white">
            <img [src]="this.community?.imagePath">
        </div>
        <div id="community-name-container" class="d-flex align-items-center justify-content-center p-4 w-100">
            <h1 class="fw-bold"> {{ this.community?.name }} </h1>
        </div>
        <div class="d-flex flex-column bg-white w-50">
            <div id="announces-section-container" class="d-flex flex-column w-100">
                <section id="announces-section" class="d-flex flex-column align-items-center h-100 overflow-auto">
                    @if (isUserJoined) {
                        <div class="d-flex gap-3">
                            <button class="button mb-5 mt-5"
                                    (click)="RouterCommand.Builder.create().withFactory(serviceFactory).withRoute('/announcementsList').withParameters({'communityID': community?.id!}).build().execute()"
                                    i18n="Botón ir a noticias|Acción para ir al listado de anuncios">
                                Go to the community news!
                            </button>
                            <button class="button mb-5 mt-5"
                                    (click)="RouterCommand.Builder.create().withFactory(serviceFactory).withRoute('/announcementCreation').withParameters({'communityID': community?.id!}).build().execute()"
                                    i18n="Botón nuevo anuncio|Acción para crear un nuevo anuncio">
                                New Announcement
                            </button>
                        </div>
                    } @else {
                        <p i18n="Mensaje sin permiso anuncios|Indica que no puede crear anuncios">You will be able to create announcements when your invitation is accepted.</p>
                    }

                    @if (Object.keys(announcements).length <= 0) {
                        <p i18n="Mensaje sin noticias|Texto cuando no hay anuncios">There is no news yet</p>
                    } @else {
                        @for (announcementID of Object.keys(announcements); track announcementID) {
                            <app-announcement-card
                                    [announce]="announcements[announcementID]"
                                    [imgPath]="this.community!.imagePath!"
                                    (deleted)="updateAnnouncement(announcements[$event], true)"
                            ></app-announcement-card>
                        }
                    }
                </section>
            </div>
            <div id="community-body" class="d-flex flex-column">
                <div class="d-flex flex-column align-items-center justify-content-center">
                    
                    <div class="d-flex gap-3 p-3">
                        @if (isUserJoined){
                        <button class="button" 
                                (click)="RouterCommand.Builder.create().withFactory(serviceFactory).withRoute('/firstStepEventCreation').withParameters({'communityID': community?.id!}).build().execute()"
                                i18n="Botón crear evento|Acción para crear evento">
                            Create Event
                        </button>
                    } @else if (!isUserJoined) 
                    {
                        <button class="button" [disabled]="true" i18n="Botón crear evento deshabilitado|Texto de botón deshabilitado">
                            Create Event
                        </button>
                    }

                        @if(isUserModerator || isCreator()) {
                    
                        <div class="dropdown">
                            <button class="button" type="button" id="actionsDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                Menu
                            </button>

                            <ul class="dropdown-menu" aria-labelledby="actionsDropdown">
                                <li>
                                <button class="dropdown-item" (click)="showRequestsPanel()" i18n="Botón panel solicitudes|Acción para mostrar panel de solicitudes">
                                    Requests Panel
                                </button>
                                </li>
                                <li>
                                <button class="dropdown-item" (click)="showEventsRequestPanel()" i18n="Botón panel eventos|Acción para mostrar panel de solicitudes de eventos">
                                    Events Panel
                                </button>
                                </li>
                                <li>
<button class="dropdown-item"
        (click)="RouterCommand.Builder.create().withFactory(serviceFactory).withRoute('/community/' + community?.id + '/stadistics').build().execute()">
    Insights
</button>

                                </li>

                                @if (isCreator()) {
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <button class="dropdown-item"
                                            (click)="RouterCommand.Builder.create().withFactory(serviceFactory).withRoute('/moderatorsManagement').withParameters({'communityID': community?.id!}).build().execute()"
                                            i18n="Botón gestionar moderadores|Acción para gestionar moderadores">
                                    Manage moderators
                                    </button>
                                </li>
                                <li>
                                    <button class="dropdown-item" (click)="editCommunity()" i18n="Botón editar comunidad|Acción para editar comunidad">Edit community</button>
                                </li>
                                <li>
                                    <button class="dropdown-item text-danger"
                                            (click)="RemoveCommunityCommand.Builder.create().withFactory(serviceFactory).withCommunity(community!).build().execute()"
                                            i18n="Botón eliminar comunidad|Acción para eliminar comunidad">
                                    Remove community
                                    </button>
                                </li>
                                }
                            </ul>
                        </div>
                        }   

                        @if (!isCreator()) {
                            @if (isUserJoined) {
                                <button class="leave-button"
                                        (click)="LeaveCommunityCommand.Builder.create().withFactory(serviceFactory).withCommunity(community!).withUser(this.authService.getUserUUID()).build().execute()"
                                        i18n="Botón abandonar comunidad|Acción para abandonar comunidad">
                                    Leave Community
                                </button>
                            } @else {
                                @if (isRequested) {
                                    <button class="leave-button"
                                            (click)="CancelJoinRequestCommunityCommand.Builder.create().withFactory(serviceFactory).withCommunity(community!).withUser(this.authService.getUserUUID()).build().execute()"
                                            i18n="Botón cancelar solicitud|Acción para cancelar solicitud de unión">
                                        Cancel Request
                                    </button>
                                } @else {
                                    <button class="button"
                                            (click)="JoinCommunityCommand.Builder.create().withFactory(serviceFactory).withCommunity(community!).withUser(this.authService.getUserUUID()).build().execute()"
                                            i18n="Botón unirse comunidad|Acción para solicitar unión a la comunidad">
                                        Join Community
                                    </button>
                                }
                            }
                        }
                    </div>
                </div>
                <section id="events-section" class="d-flex flex-column w-100">
                    @for (eventID of Object.keys(events); track eventID) {
                        <app-event-view [eventID]="eventID"
                                        [canRemove]="canLoggedUserRemoveEvent(eventID)"
                                        [isDisabled]="isUserInEvent(events[eventID])"
                                        (joinEventEmitter)="JoinEventCommand.Builder.create().withFactory(serviceFactory).withEvent(events[eventID]).withUser(authService.getUserUUID()).build().execute()"
                                        (leaveEventEmitter)="LeaveEventCommand.Builder.create().withFactory(serviceFactory).withEvent(events[eventID]).withUser(authService.getUserUUID()).build().execute()"
                        ></app-event-view>
                    }
                </section>
            </div>
        </div>
    </div>
    <app-blur-panel [isVisible]="isLoaded"/>
</main>