<main class="main">
  <div class="register-form-background"></div>

  <div class="form-card">
    <div class="register-form-header">
      <div class="register-form-title-container text-center">
        <h1 class="register-form-title">Create una cuenta</h1>
      </div>
    </div>
  
    <form class="register-form" (ngSubmit)="onSubmit()">
      <div class="register-form-inputs d-flex flex-column gap-4 flex-grow-1">
        <div class="input-container d-flex flex-column">
          <label for="username-input">Nombre de usuario *</label>
          <input [(ngModel)]="username" name="username" id="username-input" placeholder="Elige un nombre de usuario único" required>
        </div>
        <div class="input-container d-flex flex-column">
          <label for="email-input">Correo electrónico *</label>
          <input [(ngModel)]="email" name="email" id="email-input" placeholder="Introduce un correo válido" type="email" required>
        </div>
        <div class="input-container d-flex flex-column">
          <label for="description-input">Descripción *</label>
          <input [(ngModel)]="description" name="description"  placeholder="Escribe una pequeña descripción" required>
        </div>
        <div class="input-container d-flex flex-column">
          <label for="password-input">Contraseña *</label>
          <input [(ngModel)]="password" name="password" id="password-input" placeholder="Introduce una contraseña" type="password" required>
        </div>
        <div class="input-container d-flex flex-column">
          <label for="confirm-password-input">Confirmar contraseña *</label>
          <input [(ngModel)]="confirmPassword" name="confirm-password" id="confirm-password-input" placeholder="Confirma tu contraseña" type="password" required>
        </div>
      </div>
  
      <div class="register-form-footer d-flex justify-content-center gap-2">
        <button type="submit" class="form-button normal-button">Registrarse</button>
      </div>
    </form>
  
    <div class="register-form-footer text-center">
      <p>¿Ya tienes una cuenta? <br><a href="/login" class="login-link">Ir al inicio de sesión </a></p>
    </div>
  </div>  
</main>
