/* Fondo semi-transparente para el formulario de registro */
.register-form-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semi-transparente */
  z-index: -1; /* Lo pone detrás del contenido */
}

/* Estilo de la tarjeta del formulario */
.form-card {
  width: 40rem; /* Reducido para que el formulario sea más compacto */
  height: auto; /* Altura automática para ajustarse al contenido */
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background: white;
  display: flex;
  flex-direction: column;
  margin: 3rem auto;
  padding: 3rem;
  z-index: 1; /* Asegura que la tarjeta esté por encima del fondo */
}

/* Estilo del formulario de registro */
.register-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem; /* Reducido el espacio entre los campos */
  flex-grow: 1;
}

/* Cabecera del formulario de registro */
.register-form-header {
  padding: 1rem;
  text-align: center;
}

/* Títulos del formulario de registro */
.register-form-title-container {
  margin-bottom: 1rem;
}

.register-form-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #2E3E7F;
}

.register-form-subtitle {
  font-size: 1.2rem;
  color: #666;
}

/* Estilo del pie del formulario (botones y enlace) */
.register-form-footer {
  display: flex;
  flex-direction: column; /* Organiza los botones y enlaces en columna */
  gap: 1rem;
  justify-content: center;
  padding-top: 2rem;
}

/* Estilo de los botones */
.form-button {
  border-radius: 5px;
  padding: 0.7rem 2rem; /* Aumenté el padding para que los botones sean más grandes */
  font-size: 1.1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.normal-button {
  background: #2E3E7F;
  border: 2px solid #2E3E7F;
  color: white;
}

.cancel-button {
  background: white;
  border: 2px solid red;
  color: black;
}

/* Estilo de los inputs del formulario */
.register-form-inputs {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.input-container {
  display: flex;
  flex-direction: column;
}

input {
  background: #ececec;
  border-radius: 5px;
  border: 2px solid #2E3E7F;
  padding: 0.8rem;
  outline: none;
  transition: box-shadow 0.3s ease, background 0.3s ease;
}

input:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

input:focus {
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5);
  background: white;
}

/* Estilo para las etiquetas de los inputs */
label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #2E3E7F;
}

/* Estilo para el enlace de login en el pie del formulario */
.register-form-footer .login-link {
  font-size: 1rem;
  color: #2E3E7F;
  text-decoration: none;
  font-weight: bold;
}

.login-link:hover {
  text-decoration: underline;
  color: #1c3d7d; /* Color al pasar el ratón */
}

