<div id="form-steps-circles">
  <div class="step-circle-container">
    <a>
      <div class="step-circle focused-step">
        <span class="step-circle-number">1</span>
      </div>
    </a>
    <span class="step-info">Lorem Ipsum</span>
  </div>
  <div class="middle-circles-container">
    <div class="middle-circle-third"></div>
    <div class="middle-circle-second"></div>
    <div class="middle-circle-first"></div>
    <div class="middle-circle-second"></div>
    <div class="middle-circle-third"></div>
  </div>
  <div class="step-circle-container">
    <a>
      <div class="step-circle">
        <span class="step-circle-number">2</span>
      </div>
    </a>
    <span class="step-info">Lorem Ipsum</span>
  </div>
</div>
