.announcement-card {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 800px;
    height: 250px;
    background: #fff;
    border-radius: 10px;
    margin-top: 20px;
}

.announcement-card-img {
    width: 80%;
    height: 80%;
    aspect-ratio: 1;
    background-color: gray;
    align-content: center;
    align-self: center;
    justify-self: center;
    align-content: center;
    border-radius: 10px;
}

.announcement-card-info {
    position: relative;
    margin: 20px;
}

.announcement-card-body {
    width: 100%;
    height: auto;
    text-overflow: ellipsis;
}

.announcement-card-publisher {
    position: absolute;
    right: 5%;
    bottom: 0;
    font-size: large;
    font-weight: 600;
}