<div class="card my-2 p-3 d-flex flex-row align-items-center justify-content-between">
    <div class="d-flex align-items-center">
      <div class="rounded-circle bg-dark text-light d-flex justify-content-center align-items-center" style="width: 40px; height: 40px;">
        <i class="fa fa-user"></i>
      </div>
      <span class="ms-3">{{ username }}</span>
    </div>
    <div class="d-flex align-items-center">
      @if (role !== 'member') {
        <span class="me-2">{{ role.toUpperCase() }}</span>
      }
      <i class="fa" [class]="icon"></i>
      <button class="btn btn-sm ms-2" [class]="{'btn-success': role === 'member', 'btn-danger': role === 'moderator'}" (click)="toggleRole()">
        <i [class]="role !== 'moderator' ? 'bi bi-person-plus-fill' : 'bi bi-person-dash-fill'"></i>
      </button>
    </div>
  </div>
