<main class="main">
  <div class="login-form-background"></div>

  <div class="form-card">
    <div class="login-form-header">
      <div class="login-form-title-container text-center">
        <img src="LogoLinkComNegro.svg" alt="Logo" style="max-width: 150px; cursor:pointer;" routerLink="/">
      </div>
    </div>
  
    <form class="login-form" (ngSubmit)="onSubmit()">
      <div class="login-form-inputs d-flex flex-column gap-5 flex-grow-1">
        <div class="input-container d-flex flex-column">
          <label for="username-input">Email *</label>
          <input [(ngModel)]="email" name="email" id="email-input" placeholder="Introduce your email" required>
        </div>
        <div class="input-container d-flex flex-column">
          <label for="password-input">Pasword *</label>
          <input [(ngModel)]="password" name="password" id="password-input" placeholder="Introduce your password" type="password" required>
        </div>
      </div>
  
      <div class="login-form-footer d-flex justify-content-center gap-2">
        <button type="submit" class="form-button normal-button">Login</button>
      </div>
    </form>
  
    <div class="login-form-footer text-center">
      <p>Don't have an account yet? <br><a routerLink="/user-register" class="login-link">Go to register</a></p>
    </div>
  </div>  
</main>