.event {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    margin: 2rem;
    border-radius: 5px;
    padding: 1rem;
}

.event-body {
    height: 20rem;
}

.event-image {
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}