<article class="community-card d-flex">
    <div class="community-card-image w-50 p-3 d-flex align-items-center justify-content-center overflow-hidden">
        <img
                [src]="community.imagePath"
                alt="Logo"
                class="w-100 h-100 object-fit-cover"
                style="width: 40px; height: 40px; object-fit: cover;"
        >
    </div>
    <div class="community-card-content w-50 p-2 d-flex flex-column">
        <div class="community-card-content-header d-flex">
            <div class="w-75">
                <h4 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; width: 100%">{{ community.name }}</h4>
            </div>
            <div class="w-25 d-flex justify-content-end">
                @if (community.isPrivate) {
                    <span style="font-size: 0.7rem" class="fw-lighter">PRIVATE COMMUNITY</span>
                }
            </div>
        </div>
        <div class="d-flex flex-column community-card-content-body h-75">
            <div class="h-75 overflow-auto">
                <p style="text-align: justify">{{ community.description }}</p>
            </div>

            <div class="d-flex flex-column">
                <hr>
                <section class="h-25"></section>
            </div>
        </div>
        <div class="community-card-content-footer d-flex flex-column align-items-center h-25 justify-content-center p-2 gap-2">
            <div class="d-flex align-items-center justify-content-center p-2 gap-2">
                <button class="button" (click)="viewCommunity()">View</button>
                @if (isUserJoined) {
                    @if (isCreator()) {
                        <button class="leave-button" (click)="removeCommunity()">Remove</button>
                    } @else {
                        <button class="leave-button" (click)="leaveCommunity()">Leave</button>
                    }
                } @else {
                    @if (isRequested) {
                        <button class="leave-button" (click)="cancelRequest()">Cancel</button>
                    } @else {
                        <button class="button" (click)="joinCommunity()">Join</button>
                    }
                }
            </div>
            <div class="d-flex text-center">
                @if (isRequested) {
                    <span style="font-size: 0.7rem" class="fw-lighter">JOIN REQUEST SENT</span>
                }
            </div>
        </div>
    </div>
</article>
  