.community-card {
    border-radius: 10px;
    background: white;
    margin: 1rem 5rem;
    height: 25rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.community-card-content-header {
    text-overflow: ellipsis;
    overflow: hidden;
}

.button {
    border-radius: 5px;
    padding: 0.5rem 1.7rem;
    background: #2E3E7F;
    color: white;
    border: 2px solid #2E3E7F;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: background 0.1s ease, border 0.1s ease, color 0.1s ease;
}

.button:hover {
    background: white;
    color: #2E3E7F;
    border: 2px solid #2E3E7F;
}

.leave-button {
    border-radius: 5px;
    padding: 0.5rem 1.7rem;
    background: #d31f1f;
    color: white;
    border: 2px solid #d31f1f;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease, background 0.3s ease;
}

.leave-button:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
    background: white;
    color: darkred;
}

.community-card-content-header {
    height: 20%;
}

.community-card-content-body {
    height: 70%;
}