<article class="community-card d-flex">
    <div class="community-card-image w-50 p-3 d-flex align-items-center justify-content-center overflow-hidden">
      <img
        [src]="community.imagePath"
        alt="Logo"
        class="w-100 h-100 object-fit-cover"
        style="width: 40px; height: 40px; object-fit: cover;"
      >
    </div>
  
    <div class="community-card-content w-50 p-2 d-flex flex-column">
      <div class="community-card-content-header">
        <h4>{{ community.name }}</h4>
      </div>
  
      <div class="d-flex flex-column community-card-content-body h-75">
        <div class="h-75 overflow-scroll">
          <p style="text-align: justify">{{ community.description }}</p>
        </div>
  
        <div class="d-flex flex-column">
          <hr>
          <section class="h-25"></section>
        </div>
      </div>
  
      <div class="community-card-content-footer d-flex align-items-center h-25 justify-content-center p-2 gap-2">
        @if (isUserJoined) {
          <button class="leave-button" (click)="leaveCommunity()">Leave</button>
          <button class="button" (click)="viewCommunity()">View</button>
        } @else {
          <button class="button" (click)="joinCommunity()">Join</button>
          
        }
       
      </div>
    </div>
  </article>
  