#users-container {
    max-width: 700px;
    background: #5370E5;
    min-height: 300px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: white;
}