<main class="main">
    <div class="d-flex flex-column central-card overflow-hidden w-75 h-100">
        <div class="utils-container p-3">
            <!-- Buscador -->
            <form class="d-flex justify-content-center my-3" role="search" (input)="filterCommunities($event)">
                <div class="input-group w-50">
                    <input
                        type="text"
                        class="form-control rounded-start-pill"
                        placeholder="Search..."
                        i18n-placeholder="Placeholder del buscador|Texto que aparece en el input de búsqueda"
                        aria-label="Search"
                        i18n-aria-label="Etiqueta aria para el buscador|Accesibilidad para el campo de búsqueda"
                        [(ngModel)]="searchTerm"
                        name="searchTerm"
                        (input)="filterCommunities()"
                    />
                    <button class="btn btn-light rounded-end-pill" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </form>

            <!-- Info y botón crear -->
            <div class="d-flex justify-content-between align-items-center mb-4">
                <p class="mb-0 text-white" i18n="Mensaje número de comunidades|Indica cuántas comunidades se encontraron">
                    <strong>{{ Object.keys(communities).length }}</strong>
                    communities were found!
                </p>
                <button class="button" (click)="RouterCommand.Builder.create().withFactory(serviceFactory).withRoute('/firstStepCommunityCreation').build().execute()">
                    <i class="bi bi-plus-circle"></i>
                    <p i18n="Texto botón crear comunidad|Acción para iniciar creación de comunidad">
                        Create Community
                    </p>
                </button>
            </div>
        </div>

        <!-- Lista de comunidades -->
        <section class="communities-section d-flex community-cards-section flex-column overflow-y-auto overflow-x-hidden p-3 flex-grow-1" (scrollend)="loadCommunities()">
            @for (communityID of Object.keys(communities); track communityID) {
                <app-community-card
                        [community]="communities[communityID]"
                        [isUserJoined]="Object.keys(joinedCommunities).includes(communityID)"
                        [isRequested]="Object.keys(requests).includes(communityID)"
                        (joinCommunityEmitter)="JoinCommunityCommand.Builder.create().withFactory(serviceFactory).withCommunity($event).withUser(authService.getUserUUID()).build().execute()"
                        (leaveCommunityEmitter)="LeaveCommunityCommand.Builder.create().withFactory(serviceFactory).withCommunity($event).withUser(authService.getUserUUID()).build().execute()"
                        (removeCommunityEmitter)="RemoveCommunityCommand.Builder.create().withFactory(serviceFactory).withCommunity($event).build().execute()"
                        (cancelRequestEmitter)="CancelJoinRequestCommunityCommand.Builder.create().withFactory(serviceFactory).withCommunity($event).withUser(authService.getUserUUID()).build().execute()"
                ></app-community-card>
            }
        </section>
    </div>
</main>
  