.chat-header {
    min-height: 10%;
}

.messages-section {
    height: 50%;
}

.separator {
    width: 3px;
    background: radial-gradient(circle, #eaeaea, white);
}

.h-separator {
    height: 3px;
    background: radial-gradient(circle, #eaeaea, white);
}

.removing-messages-container {
    width: 99%;
    border-radius: 10px;
    background: #eeeeee;
}