<main class="main d-flex">
    <aside class="bg-white w-25 h-100 d-flex">
        <section class="w-100 h-100 overflow-y-auto">
            @for (user of users; track user.id) {
                <app-user-card
                        (click)="router.navigate(['/messages', user.id])"
                    [userID]="user.id"
                ></app-user-card>
            }
        </section>
        <div class="separator"></div>
    </aside>
    <div class="w-75 h-100 d-flex flex-column bg-white">
        @if (recipientID) {
            @if (recipient) {
                <div class="w-100 p-3 chat-header d-flex flex-column align-items-center">
                    <h1 class="fw-lighter">
                        {{recipient.username}}
                    </h1>
                    <div class="h-separator w-100"></div>
                </div>
            }
            <section #withScroll class="messages-section flex-grow-1 d-flex flex-column p-3 overflow-y-auto">
                @for (messageID of Object.keys(messages); track messageID) {
                    <app-message
                            #item
                            [message]="messages[messageID]"
                            [own]="messages[messageID].from === auth.getUserUUID()"
                            (removeEmitter)="removeMessage($event)"
                    ></app-message>
                }
            </section>
            <app-input class="mt-auto"
                       (sendMessageEmitter)="send($event)"
            ></app-input>
        } @else {
            <app-user-list></app-user-list>
        }
    </div>
</main>
