<article class="event d-flex flex-column overflow-hidden">
    <div class="event-header d-flex flex-column w-100">
        <div class="d-flex align-items-center gap-2 w-100">
            <div class="d-flex w-75">
                <h2 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; width: 100%">{{ event.title }}</h2>
            </div>
            <div class="w-50 text-end">
                <span class="fw-lighter">{{ parseDateTimeLocal(event.date!) }}</span>
            </div>
        </div>
        <hr>
    </div>
    <div class="event-body d-flex w-100">
        <div class="pe-4 ps-1 w-50 overflow-auto">
            <div [innerHTML]="event.description" style="text-align: justify"></div>
        </div>
        <div class="d-flex align-items-center justify-content-center w-50 h-100">
            <img [src]="event.imagePath ? event.imagePath : 'LogoLinkComNegro.svg'" alt="Event image" (click)="openImageDialog()"
                 class="event-image w-100 h-100 object-fit-cover">
            <app-image-dialog
                    [isVisible]="isDialogVisible"
                    [imageUrl]="event.imagePath ? event.imagePath : 'LogoLinkComNegro.svg'"
                    (close)="closeImageDialog()">
            </app-image-dialog>
        </div>
    </div>
    <div class="event-footer d-flex align-items-center justify-content-center w-100 p-3 gap-2">
        <!-- Botón para abrir el modal -->
        @if (event.eventState !== EventState.PENDING) {
            <button (click)="openCommentModal()" class="button" i18n="Texto botón Comentarios|Acción para abrir modal de comentarios">Comments</button>
        }

        @if(isCommentModalVisible){
            <app-comment-modal
                [isVisible]="isCommentModalVisible"
                (closeModal)="closeCommentModal()"
            ></app-comment-modal>
        }

        @if (!isDisabled) {
            @if (event.eventState === EventState.PENDING) {
                <button class="button" (click)="AcceptEventCommand.Builder.create().withFactory(serviceFactory).withEventID(event.id!).build().execute()" i18n="Texto botón Aceptar evento|Acción para aceptar evento pendiente">Accept</button>
            } @else {
                <button class="button" (click)="joinEvent()" i18n="Texto botón Unirse evento|Acción para unirse al evento">Join</button>
            }
        } @else {
            <button class="leave-button" (click)="leaveEvent()" i18n="Texto botón Abandonar evento|Acción para abandonar el evento">Leave</button>
        }
        @if (canRemove) {
            <button class="leave-button" (click)="RemoveEventCommand.Builder.create().withFactory(serviceFactory).withEvent(event!).build().execute()" i18n="Texto botón Eliminar evento|Acción para eliminar evento">Remove</button>
        }
    </div>
</article>