.community-form {
    position: relative;
    padding: 1rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    flex: 1;
}

.community-form textarea {
    border: 2px solid #2E3E7F;
    outline: none;
    resize: none;
    border-radius: 10px;
    padding: 1rem;
    background: #ececec;
    transition: box-shadow 0.3s ease, background 0.3s ease;
}

.community-form textarea:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.community-form textarea:focus {
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5);
    background: white;
}

.input-container {
    height: 50%;
}

.input-container input[type="checkbox"] {
    margin: 0 1rem;
}

.community-form-header {
    height: 30%;
    padding: 0 2rem;
}

.community-form-title-container {
    margin-top: 1rem;
}

.community-form-footer {
    display: flex;
    gap: 0.5rem;
    padding-bottom: 2rem;
}

.community-form-container {
    display: flex;
    flex: 1;
}

.form-button {
    border-radius: 5px;
    padding: 0.5rem 1.7rem;
}

.normal-button {
    background: #2E3E7F;
    border: 2px solid #2E3E7F;
    color: white;
}

.normal-empty-button {
    background: white;
    border: 2px solid #2E3E7F;
    color: black;
}

.drop-zone {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.drop-zone:hover {
    background-color: #e0f7fa;
}

.image-preview {
    display: flex;
    justify-content: center;
}

.image-preview img {
    height: 11rem;
    object-fit: contain;
    border-radius: 8px;
}

#interests-input-container {
  position: relative;
}

#interests-container {
  position: absolute;
  width: 100%;
  top: 42%;
  border: 2px solid #2E3E7F;
  border-radius: 5px;
  height: 3rem;
}

#interests-suggestions {
  top: 4rem;
  position: absolute;
  width: 100%;
  border: 1px solid black;
  background: white;
  z-index: 1000;
}

.interest-suggestion-item {
  padding: 0.5rem;
  transition: background 0.3s ease;
  margin: 0.2rem;
  border-radius: 2px;
  background: white;
}

.interest-suggestion-item:hover {
  background: #eeeeee;
}