<div class="card my-2 p-3 d-flex flex-row align-items-center justify-content-between">
    <div class="d-flex align-items-center">
      <div class="rounded-circle bg-dark text-light d-flex justify-content-center align-items-center"
           style="width: 40px; height: 40px;">
        <i class="fa fa-user"></i>
      </div>
      <span class="ms-3">{{ user.username }}</span>
    </div>
    <div>
      <button class="btn btn-success btn-sm" (click)="requestFriend()">
        <i class="bi bi-person-plus-fill"></i> Add Friend
      </button>
    </div>
  </div>
  