<div class="background">
<div class="form-card">
  <div class="stepper-container">
    <div class="stepper">
      <div class="stepper-step ">
        <div class="step-number">1</div>
      </div>
      <div class="stepper-step current">
        <div class="step-number">2</div>
      </div>
      <div class="stepper-step">
        <div class="step-number">3</div>
      </div>
    </div>
  </div>

    <div class="register-form-header">
      <div class="register-form-title-container text-center">
        <h1 class="register-form-title">User Register</h1>
        <h2 class="register-form-subtitle">Plase select a unique profile picture</h2>
      </div>
    </div>
  
    <form class="register-form">
      <!-- Vista previa de la imagen encima del texto -->
      <div class="image-preview-container d-flex justify-content-center">
        <img *ngIf="imagePreview" [src]="imagePreview" alt="Image Preview" class="image-preview" />
      </div>
  
      <div class="input-container d-flex flex-column text-center">
        <label for="image-input" class="form-label">Profile Picture *</label>
        <input 
          type="file" 
          id="image-input" 
          (change)="onImageSelected($event)" 
          accept="image/*" 
          required 
          class="form-input"
        >
      </div>
  
      <!-- Botón para eliminar la imagen (si ya hay una seleccionada) -->
      <div *ngIf="imagePreview" class="d-flex justify-content-center mt-2">
        <button (click)="onRemoveImage()" type="button" class="btn btn-danger">Remove Image</button>
      </div>
  
      <div class="form-footer d-flex justify-content-center gap-2 mt-3">
        <button (click)="goToThirdStep()" type="button" class="form-button normal-button">Next</button>
        <button (click)="goToFirstStep()" type="button" class="form-button normal-button">Back</button>
      </div>
    </form>
  </div>
</div>