<main>
<div class="container">
    <h1 style="text-align: center;"> Community Insights</h1>
    <br>
    <div class="row" >
    <div class="col-md-4">
        <h1>
        <i class="bi bi-people"></i>
        </h1>
        <h3>Numbers of Members</h3>
        <!-- TODO: for of ids of a community-->
        123
    </div>

    <div class="col-md-4">
        <h1>
        <i class="bi bi-newspaper"></i>        
        </h1>
        <h3>Numbers of News</h3>
        <!-- TODO: for of index of Announcements of a community--->
         12
    </div>

    <div class="col-md-4">
        <h1>
        <i class="bi bi-calendar-event"></i>
        </h1>
        <h3>Numbers of Events</h3>
        3
        <!-- TODO: for of index of events of a community--->
    </div> 
    <div class="col-md-4">
        <h3>Numbers of Announcements</h3>
        <!-- TODO: -->
         5
    </div>

    <div class="col-md-4">
        <h3>Enroll Average</h3>
        6
    </div>

    <div class="col-md-4">
        <h1>
            <i class="bi bi-rocket-takeoff"></i>
        </h1>
        <h3>Last weeks activities </h3>
    </div>
</div>
</div>
</main>