.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px; /* o lo que necesites */
  }
  
.button {
    border-radius: 5px;
    padding: 0.5rem 1.7rem;
    background: white;
    border: 2px solid #2E3E7F;
    color: #2E3E7F;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease;
}

.button:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}

.leave-button {
    border-radius: 5px;
    padding: 0.5rem 1.7rem;
    background: white;
    border: 2px solid #d31f1f;
    color: darkred;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease, background 0.3s ease;
}

.leave-button:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
    background: #d31f1f;
    color: white;
}