<main class="main d-flex flex-column flex-grow-1">
    <div class="d-flex flex-column w-100 align-items-center">
        <div id="community-image-container"
             class="d-flex align-items-center justify-content-center overflow-hidden w-100 bg-white">
            <img [src]="community?.imagePath">
        </div>
        <div id="community-name-container" class="d-flex align-items-center justify-content-center w-100">
            <h1 class="fw-bold"> {{ community?.name }}'s Community </h1>
        </div>
        <div class="d-flex flex-column bg-white w-50">
            <div id="announces-section-container" class="d-flex flex-column w-100">
                <section id="announces-section" class="d-flex flex-column align-items-center overflow-scroll">
                    <div class="d-flex gap-3">
                        <button class="button mb-5 mt-5" (click)="showAnnouncements()">Go to the community news!</button>
                        <button class="button mb-5 mt-5" (click)="showAnnouncementForm()">New Announcement</button>
                    </div>
                    @if (announcements.length === 0) {
                        <p>There is no news yet</p>
                    } @else {
                        @for (newAnnounce of announcements; track newAnnounce) {
                            <app-announcement-card
                                    [announce]="newAnnounce"
                                    [imgPath]="this.community!.imagePath"
                            ></app-announcement-card>
                        }
                    }
                </section>
            </div>
            <div id="community-body" class="d-flex flex-column">
                <div class="d-flex flex-column align-items-center justify-content-center">
                    <div class="d-flex gap-5">
                        <button class="button mb-5 mt-5" (click)="showEventForm()">Create Event</button>
                        @if (isUserJoined) {
                            <button class="leave-button mb-5 mt-5" (click)="leaveCommunity()">Leave Community</button>
                        } @else {
                            <button class="button mb-5 mt-5" (click)="joinCommunity()">Join Community</button>
                        }
                    </div>
                    <div class="d-flex gap-5">
                        @if (isCreator()) {
                            <button class="button mb-5" (click)="showModeratorsManagement()">Manage moderators</button>
                            <button class="leave-button mb-5" (click)="removeCommunity()">Remove community</button>
                        }
                    </div>
                </div>
                <section id="events-section" class="d-flex flex-column w-100">
                    @for (event of events; track $index) {
                        <app-event-view [event]="event" [isDisabled]="isUserInEvent(event)"></app-event-view>
                    }
                </section>
            </div>
        </div>
    </div>
</main>