#announces-section {
    height: 30rem;
    background: radial-gradient(circle, #e0dfdf, white);
}

#events-section {
    box-shadow: 4px 0 10px rgba(0, 0, 0, 0.5);
}

#community-image-container {
    height: 20rem;
}

#community-image-container img {
    width: 100%;
    height: auto;
}

#community-name-container {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    height: 10rem;
    background: white;
    z-index: 500;
}

main {
    all: unset;
    background: radial-gradient(circle, #2E3E7F, #5370E5);
}

.main {
    height: 100vh;
    overflow-y: auto;
}

.main > div {
    flex-grow: 1;
    width: 100%;
}

.button {
    border-radius: 5px;
    padding: 0.5rem 1.7rem;
    background: white;
    border: 2px solid #2E3E7F;
    color: #2E3E7F;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: background 0.1s ease, border 0.1s ease, color 0.1s ease;
}

.button:hover {
    background: #2E3E7F;
    border: 2px solid #2E3E7F;
    color: white;
}