#announces-section-container {
    height: 30rem;
    background: radial-gradient(circle, #e0dfdf, white);
}

#community-body {
    box-shadow: 4px 0 10px rgba(0, 0, 0, 0.5);
}

#community-image-container {
    height: 20rem;
}

#community-image-container img {
    width: 100%;
    height: auto;
}

#community-name-container {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    height: 10rem;
    background: white;
    z-index: 500;
}

main {
    overflow: auto;
    align-items: unset;
    justify-content: unset;
}

.button {
    border-radius: 5px;
    padding: 0.5rem 1.7rem;
    background: #2E3E7F;
    border: 2px solid #2E3E7F;
    color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: background 0.1s ease, border 0.1s ease, color 0.1s ease;
}

.button:hover {
    background: white;
    border: 2px solid #2E3E7F;
    color: #2E3E7F;
}

.leave-button {
    border-radius: 5px;
    padding: 0.5rem 1.7rem;
    background: #d31f1f;
    color: white;
    border: 2px solid #d31f1f;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease, background 0.3s ease;
}

.leave-button:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
    color: darkred;
    background: white;
}

#announces-section {
    padding-bottom: 2rem;
}