<main class="main d-flex flex-column flex-grow-1">
    <div class="d-flex flex-column w-100 align-items-center">
        <div id="community-image-container"
             class="d-flex align-items-center justify-content-center overflow-hidden w-100 bg-white">
            <img [src]="this.community?.imagePath">
        </div>
        <div id="community-name-container" class="d-flex align-items-center justify-content-center w-100">
            <h1 class="fw-bold"> {{ this.community?.name }}'s Community </h1>
        </div>
        <div class="d-flex flex-column bg-white w-50">
            <div id="announces-section-container" class="d-flex flex-column w-100">
                <section id="announces-section" class="d-flex flex-column align-items-center h-100 overflow-auto">
                    <div class="d-flex gap-3">
                        <button class="button mb-5 mt-5" (click)="RouterCommand.Builder.create().withFactory(serviceFactory).withRoute('/announcementsList').withParameters({'communityID': community?.id!}).build().execute()">Go to the community news!</button>
                        <button class="button mb-5 mt-5" (click)="RouterCommand.Builder.create().withFactory(serviceFactory).withRoute('/announcementCreation').withParameters({'communityID': community?.id!}).build().execute()">New Announcement</button>
                    </div>
                    @if (announcements.length === 0) {
                        <p>There is no news yet</p>
                    } @else {
                        @for (newAnnounce of announcements; track newAnnounce) {
                            <app-announcement-card
                                    [announce]="newAnnounce"
                                    [imgPath]="this.community!.imagePath!"
                            ></app-announcement-card>
                        }
                    }
                </section>
            </div>
            <div id="community-body" class="d-flex flex-column">
                <div class="d-flex flex-column align-items-center justify-content-center">
                    <div class="d-flex gap-3 p-3">
                        <button class="button" (click)="RouterCommand.Builder.create().withFactory(serviceFactory).withRoute('/firstStepEventCreation').withParameters({'communityID': community?.id!}).build().execute()">Create Event</button>
                        @if (!isCreator()) {
                            @if (isUserJoined) {
                                <button class="leave-button" (click)="LeaveCommunityCommand.Builder.create().withFactory(serviceFactory).withCommunity(community!).withUser(this.authService.getUserUUID()).build().execute()">Leave Community</button>
                            } @else {
                                @if (isRequested) {
                                    <button class="leave-button" (click)="CancelJoinRequestCommunityCommand.Builder.create().withFactory(serviceFactory).withCommunity(community!).withUser(this.authService.getUserUUID()).build().execute()">Cancel Request</button>
                                } @else {
                                    <button class="button" (click)="JoinCommunityCommand.Builder.create().withFactory(serviceFactory).withCommunity(community!).withUser(this.authService.getUserUUID()).build().execute()">Join Community</button>
                                }
                            }
                        } @else {
                            <button class="button" (click)="RouterCommand.Builder.create().withFactory(serviceFactory).withRoute('/moderatorsManagement').withParameters({'communityID': community?.id!}).build().execute()">Manage moderators</button>
                            <button class="button" (click)="showRequestsPanel()">Requests Panel</button>
                            <button class="leave-button" (click)="RemoveCommunityCommand.Builder.create().withFactory(serviceFactory).withCommunity(community!).build().execute()">Remove community</button>
                        }
                    </div>
                </div>
                <section id="events-section" class="d-flex flex-column w-100">
                    @for (eventID of Object.keys(events); track eventID) {
                        <app-event-view [event]="events[eventID]"
                                        [isDisabled]="isUserInEvent(events[eventID])"
                                        (joinEventEmitter)="JoinEventCommand.Builder.create().withFactory(serviceFactory).withEvent(events[eventID]).withUser(authService.getUserUUID()).build().execute()"
                                        (leaveEventEmitter)="LeaveEventCommand.Builder.create().withFactory(serviceFactory).withEvent(events[eventID]).withUser(authService.getUserUUID()).build().execute()"
                        ></app-event-view>
                    }
                </section>
            </div>
        </div>
    </div>
    <app-community-requests-panel (eventEmitter)="closeRequestPanel()" [isVisible]="requestPanelVisible"></app-community-requests-panel>
</main>